*{
    margin: 0;
    padding: 0;
  }
  nav{
    border: solid;
    border-color: black;
    background-color:red;
    text-align: center;
    }
    
    h1{
    text-align: center;
    }
    
    
  .pagina1 {
    width: 600px;
    height: 786px;
    border: solid;
    border-color: black;
    margin: 15px 15px 15px 313px;
    padding: 10px;
    background-color: rgb(255,255, 255);
}
.pagina1 aside
{
    width: 258px;
    height: 184px;
    border: solid;
    border-color: black;
    margin: 10px 10px 5px 20px;
    padding: 1px;
    display: inline-block;
    background-color:white;

}
.pagina1 h2
{
    text-align: center;

}
.pagina1 aside nav{
    width: 117px;
    height: 116px;
    margin: 31px 34px 39px 68px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
 
}
.pagina1 footer{
    width: 259px;
    height: 183px;
    border: solid;
    border-color: black;
    margin: 10px 10px 5px 20px;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    background-color:red;

}

.pagina1 footer nav{
    width: 259px;
    height: 70px;
    margin: 53px 40px 48px -1px;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    background-color: white;

}
.pagina1 footer nav img{
    width: 39px;
    margin: 3px 36px 62px 101px;
}
.pagina1 footer article{
    width: 259px;
    height: 60px;
    margin: -54px 40px 48px -4px;
    padding: 1px;
    display: inline-block;
    background-color: black;
  }

.pagina1 main{
    width: 258px;
    height: 184px;
    border: solid;
    border-color: black;
    margin: 44px 10px 5px 20px;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    background-color:rgb(0, 132, 255);
}
.pagina1 main nav
{
    width: 257px;
    height: 78px;
    margin: 50px 36px 42px 0px;
    padding: 1px;
    display: inline-block;
    background-color: white;
}
.pagina1 main nav img{
    width: 70px;
    margin:5px 36px 62px 87px;
}
.pagina1 section{
    width: 259px;
    height: 183px;
    border: solid;
    border-color: black;
    margin: 45px 10px 5px 18px;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    background-color:white;
}

.pagina1 section footer{
    width: 130px;
    height: 90px;
    margin: -4px 19px 47px 125px;
    background-color:red;
}
.pagina1 section nav{
    width: 128px;
    height: 90px;
    margin: -47px 20px 47px -1px;
    display: inline-block;
    vertical-align: top;
    background-color: blue;
}
.pagina1 section h1 img{
    width: 59px;
    height: 40px;
    margin: -200px 32px 226px 27px;
    
}    
.pagina1 section img{
    width: 59px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    margin: -174px 28px 392px 168px;
    
}    
    .pagina1 article{
    width: 255px;
    height: 184px;
    border: solid;
    border-color: black;
    margin: 54px 13px 5px 23px;
    padding: 1px;
    display: inline-block;
    background-color: rgb(12, 12, 143);
}
.pagina1 article nav{

    width: 255px;
    height: 116px;
    margin: 33px 36px 49px -1px;
    padding: 1px;
    display: inline-block;
    background-color: white;
}

.pagina1 article nav h2{

    width: 255px;
    height: 65px;
    margin: 25px 36px 49px -1px;
    padding: 1px;
    display: inline-block;
    background-color: rgb(199, 7, 7);
}
.pagina1 article nav h2 img{

    width: 60px;
    height: 48px;
    margin: 8px 32px 226px 42px;
}
.pagina1 h3{

    width: 259px;
    height: 183px;
    border: solid;
    border-color: black;
    margin: 55px 10px 5px 18px;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    background-color:white;
}
.pagina1 h3 nav {
     
    width: 80px;
    height: 183px;
    margin: -1px 36px 49px 178px;
    padding: 1px;
    display: inline-block;
    background-color: rgb(221, 16, 16);
    }
.pagina1 h3 li{
     
    width: 80px;
    height: 183px;
    margin: -267px 31px 71px -1px;
    padding: 1px;
    display: inline-block;
    background-color: rgba(30, 78, 30, 0.911);
}
.pagina1 h3 img{

    width: 63px;
    height: 57px;
    margin: -191px 23px 226px 99px;
}

